.main{
margin-right: auto;
margin-left: auto;
padding: 1rem;
display: flex;
justify-content: start;
padding-top:7rem;
gap: 5rem;
}

.select{
    background-image: url(/assets/images/chevron-down-solid.svg);
    background-repeat: no-repeat;
    background-position: 280px center;
    margin-left: 100px;

width: 340px;
height: 60px;
border: 3px solid yellow;
border-radius: 1rem;
font-size: 2rem;
font-weight: bold;
padding-left: 1rem;
background-color: gray;
color: yellow;
-webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance: none;

}
.select::-ms-expand{
    display: none;
}